<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="author" content="Adam Cogbill & Marino Fernandes">
        <meta name="description" content="A tool for evaluating gov't web content.">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/@massds/mayflower-assets@11.22.0/css/buttons.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/@massds/mayflower-assets@11.22.0/css/header-slim.css" />
        <script type='text/javascript' src="{{ url_for('static', filename='js/handle_submit.js') }}" ></script>
    </head>
<body>
    <div class="ma__header_slim">
        <div class="ma__header_slim__utility">
          <div class="ma__header_slim__utility-container ma__container"></div>
        </div>
        <header class="ma__header_slim__header" id="header">
          <div class="ma__header_slim__header-container ma__container">
            <div class="ma__header_slim__logo">
              <div class="ma__site-logo">
                <a href="https://www.mass.gov/" title="Mass.gov homepage">
                  <img
                    class="ma__image"
                    src="https://unpkg.com/@massds/mayflower-assets@11.22.0/static/images/logo/stateseal.png"
                    alt="Massachusetts state seal"
                    width="45"
                    height="45"
                  />
                  <span>MOCKUP: Improve your content</span>
                </a>
              </div>
            </div>
          </div>
        </header>
      </div>
     

    <div class='layout'>
        <div class='container' id="content">
            <div class='row'>
                <div class='col'>
                    {% block content %}
                    <p>Default Content</p>
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <footer class="navbar bg">
        <div class='container'>
            <p style="margin-left:auto; margin-right: auto;">Content recommendations   |    © 2022 Adam Cogbill & Marino Fernandes. </p>
        </div> 
    </footer>
</body>

</html>